<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.laptrinhandroidnhom6">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LapTrinhAndroidNhom6">
        <activity android:name=".AItemDetail">

        </activity>
        <activity android:name=".profile.UpdateInfo"></activity>
        <activity android:name=".profile.ChangePassword"></activity>
        <activity android:name=".profile.ChangePhone"></activity>
        <activity android:name=".login_logup.LoginActivity"></activity>
        <activity android:name=".profile.VerifyCode"></activity>
        <activity android:name=".profile.UpdatePhone"></activity>
        <activity android:name=".profile.Contact"></activity>
        <activity android:name=".Cart" />
        <activity android:name=".login_logup.TestLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>